header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;

    /* transparent background with abit of grayscale */
    background-color: rgba(0, 0, 0, 0.1);
}